DATABASE_FILE_NAME = "the database of users accounts and logs"
SENDER_EMAIL = "verification code sender email address"
SENDER_EMAIL_PASSWORD = "verification code sender email password"
GITHUB_DATABASE_ACCESS_TOKEN = "github access token"
GDATABASE_REPO = "database repository"
ADMIN_USERNAME = "admin panel username"
ADMIN_PASSWORD = "admin panel password"
SECRET_KEY = "Secret key for flask app"
